body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    background-color: ivory;
}
#tooltip {
    visibility: hidden;
    width: auto;
    height: auto;
}

#title {
    font-size: 20px;
    font-family: sans-serif;
}